:root {
	/* colors */
	--whi-100: #ffffff;

	--blk-500: #111111;

	--blu-100: #3475ca;
	--blu-200: #3f8ffc;
	--blu-400: #162c3b;
	--blu-500: #12222d;

	/* font-sizes: ; */

	--fs-100: 16px;
	--fs-200: 18px;
	--fs-300: 24px;
	--fs-500: 30px;
	--fs-900: 60px;
}
